# Ignorar arquivos temporários criados pelo sistema
*~
*.swp

# Ignorar diretório de dependências (por exemplo, node_modules)
node_modules/
vendor/

# Ignorar arquivos de compilação (por exemplo, .class, .o)
*.class
*.o
*.min.js
*.css
*.map

# Ignorar arquivos de configuração sensíveis
config.ini