/* Variaveis -------------------------------------------------- */

$color: #333;
$red: #990D35;
$red_hover: #b12f54;
$black: #2C2C2C;
$black_dark: #1B1B1B;
$letter_black: #ffffff65;
$font_size: 17px;
$font_family: 'Montserrat Regular';
$line_height: 1.3;


/* RESET CSS
-------------------------------------------------- */
@import "style/reset";


/* Fontes
-------------------------------------------------- */
@import "fontes/montserrat";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Plugins
-------------------------------------------------- */
@import "plugins/slick";
@import "plugins/slick-theme";


/* Padrão
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "style/header";
@import "style/footer";

/* Páginas
-------------------------------------------------- */
@import "paginas/home";
@import "paginas/aboutus";
@import "paginas/bikes";
@import "paginas/checkout";
@import "paginas/admin_login";